@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #FFF3B0, #E09F3E);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6b0f12;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #9E2A2B;
    text-align: center;
    text-shadow: 1px 1px 0px #832426;
    ;

}

h2 {
    color: #540B0E ;
}

p {
    text-align: justify;
}